/*Default stylesheet for the WHSEnviro website.*/

/*-------------------------------------------------------------------------------------------*/
/*HOME PAGE STYLING*/
/*Main header*/
#eMainHeader {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

/*-------------------------------------------------------------------------------------------*/
/*SIDENAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/*Sidenav header*/
.sidenav h1 {
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    color: #0a8919;
    transition: 0.2s;
}

/*Sidenav links*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
    font-family: Arial;
    opacity: 0;
}

/*Hovering over sidenav links*/
.sidenav a:hover {
    color: #f1f1f1;
}

/*Styling div element to open the sidenav*/
.sidenav__opener {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}

/*.sidenav__opener:hover {
    width: 10%;
}*/

/*Styling button to close the sidenav*/
.sidenav .closeSidenavButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

body {
    transition: 0.5s;
}